<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours</title>
</head>
<body>
    <header>
        <img src="/logo.jpeg" alt="logo">
    </header>
    <section>
        <h1>Cours : <%= cours.nom %></h1>
        <p><%= cours.description %></strong>
        <p> ENSEIGNANTS : </p>
        <ul>
            <% let i;
            for (i = 0; i < cours.prof.length; i++) { %>
            <li><%= cours.prof[i] %></li>
            <% } %>
        </ul>
            
       
    </section>
    <footer>
        <h5>responsable :  <%= cours.responsable %></h5>
    </footer>
    
</body>
</html>