<form action="/ajouter" method="post">
    <div>
        <h1>Ajouter etudiant</h1>
    </div>
    <div>
        <label for="numero">numero</label>
        <input type="text" name="numero">
    </div>
    <div>
        <label for="nom">nom</label>
        <input type="text" name="nom">
    </div>
    <div>
        <label for="prenom">prenom</label>
        <input type="text" name="prenom">
    </div>
    <div>
        <button type="submit">Ajouter</button>
    </div>
</form>