<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page etudiant</title>
</head>
<body>
    <h1>Bienvenue sur la page de <%= etudiant.nom %> </h1>
    <p> nom  :  <%= etudiant.nom %></p>
    <p> prénom : <%= etudiant.prenom %></p>
    <p> numero etudiant : <%= etudiant.numero %> </p>
    
</body>
</html>