<!DOCTYPE html>
<html lang="fr">
  <head> 
    <meta charset="UTF-8">
    <title>TP noté </title> 
  </head>
  <body>
    <header>
      <h1> Bienvenu </h1>
    </header>
    <footer>
     Etudiant.e: <%= etudiant.numero %>, <%= etudiant.nom %>, <%= etudiant.prenom  %><br/>
    </footer>
  </body> 
</html>